.close-button{
    position: relative;
}
.close-button{
    position:absolute;
    top: 5px;
    right: 20px;
    font-size: 25px;
   cursor: pointer;
   transition: all 0,3 linear;
   opacity: 0;
   &:hover{
       color:red;
    opacity: 1;
   }
}